<div class="col-lg">
  <div class="row">
    <div class="col-sm mb-3">
      <h4 style="font-weight: bold">Player Batting Stats</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <form [formGroup]="userBattingFormGroup" (ngSubmit)="search()">
        <div class="form-row form-inline mb-3 justify-content-evenly">
          <div class="col-2">
            <div class="form-group row">
              <label for="usernameInput" class="col-auto col-form-label">Username:</label>
              <input type="text" class="form-control-sm " id="usernameInput" placeholder="GenericUser" formControlName="usernameFG">
            </div>
          </div>
          <div class="col-2">
            <div class="form-group row">
              <label for="rankedTypeSelect" class="col-auto col-form-label">Ranked Type:</label>
              <select class="form-control form-select" id="rankedTypeSelect" formControlName="rankedTypeFG">
                <option *ngFor="let rankType of rankSelectTypes">{{rankType}}</option>
              </select>
            </div>
          </div>
          <div class="col-2">
            <div class="form-group row">
              <label for="superstarTypeSelect" class="col-auto col-form-label">Superstar Type:</label>
              <select class="form-control form-select" id="superstarTypeSelect" formControlName="superstarTypeFG">
                <option *ngFor="let superstarType of superstarSelectTypes">{{superstarType}}</option>
              </select>
            </div>
          </div>
          <div class="col-2">
            <div class="form-group row">
              <label for="dateSelect" class="col-auto col-form-label">Date Range:</label>
              <select class="form-control form-select" id="dateSelect">
                <option selected>All to Date</option>
                <option>Last 7 Days</option>
                <option>Last 15 Days</option>
                <option>Last 30 Days</option>
              </select>
            </div>
          </div>
          <div class="col-2">
            <div class="form-group row">
              <button type="submit" class="btn btn-info">Search</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<hr/>
<div class="row justify-content-center text-center align-content-center">
  <div class="col-10 ">
    <app-batting-list [battingStatsInput]="userBattingStats"></app-batting-list>
  </div>
</div>
