<div class="row" *ngIf="battingStats && cbsPage">
  <div class="col-12">
    <div class="row" *ngIf="!extendedStatsToggle">
      <table class="table basic table-sm table-striped table-responsive-md table-hover" matSort (matSortChange)="sortData($event)">
        <thead class="th-info">
          <tr class="text-center justify-content-center align-items-center align-content-center">
            <th mat-sort-header="NAME">NAME</th>
            <th mat-sort-header="PA">PA</th>
            <th mat-sort-header="AB">AB</th>
            <th mat-sort-header="H">H</th>
            <th mat-sort-header="2B">2B</th>
            <th mat-sort-header="3B">3B</th>
            <th mat-sort-header="HR">HR</th>
            <th mat-sort-header="RBI">RBI</th>
            <th mat-sort-header="BB">BB</th>
            <th mat-sort-header="HBP">HBP</th>
            <th mat-sort-header="SO">SO</th>
            <th mat-sort-header="AVG" data-toggle="tooltip" data-trigger="hover" data-container="body" data-placement="top" data-html="true" data-title="<b>Batting Average</b><br/>The rate of hits per at-bat (H/AB)">AVG</th>
            <th mat-sort-header="OBP">OBP</th>
            <th mat-sort-header="SLG">SLG</th>
            <th mat-sort-header="OPS">OPS</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cbs of cbsPage">
            <td class="text-center">{{cbs.character}}</td>
            <td class="text-center">{{cbs.rawBattingStats.plate_appearances}}</td>
            <td class="text-center">{{cbs.rawBattingStats.summary_at_bats}}</td>
            <td class="text-center">{{cbs.rawBattingStats.summary_hits}}</td>
            <td class="text-center">{{cbs.rawBattingStats.summary_doubles}}</td>
            <td class="text-center">{{cbs.rawBattingStats.summary_triples}}</td>
            <td class="text-center">{{cbs.rawBattingStats.summary_homeruns}}</td>
            <td class="text-center">{{cbs.rawBattingStats.summary_rbi}}</td>
            <td class="text-center">{{cbs.rawBattingStats.summary_walks_bb}}</td>
            <td class="text-center">{{cbs.rawBattingStats.summary_walks_hbp}}</td>
            <td class="text-center">{{cbs.rawBattingStats.summary_strikeouts}}</td>
            <td class="text-center">{{cbs.calculatedBattingStats.battingAverage.toFixed(3)}}</td>
            <td class="text-center">{{cbs.calculatedBattingStats.onBasePercentage.toFixed(3)}}</td>
            <td class="text-center">{{cbs.calculatedBattingStats.sluggingPercentage.toFixed(3)}}</td>
            <td class="text-center">{{(cbs.calculatedBattingStats.onBasePlusSlugging).toFixed(3) }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row" *ngIf="extendedStatsToggle">
      <table class="table extended table-sm table-striped table-responsive-md table-hover" matSort (matSortChange)="sortData($event)">
        <thead class="th-info">
        <tr>
          <th mat-sort-header="NAME">Name</th>
          <th mat-sort-header="PA">PA</th>
          <th mat-sort-header="HBP">HBP</th>
          <th mat-sort-header="SF">SF</th>
          <th mat-sort-header="BABIP">BABIP</th>
          <th mat-sort-header="ISO">ISO</th>
          <th mat-sort-header="ABHR">AB/HR</th>
          <th mat-sort-header="BBK">BB/K</th>
          <th mat-sort-header="BB%">BB%</th>
          <th mat-sort-header="SO%">SO%</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let cbs of cbsPage">
          <td class="text-center">{{cbs.character}}</td>
          <td class="text-center">{{cbs.rawBattingStats.plate_appearances}}</td>
          <td class="text-center">{{cbs.rawBattingStats.summary_walks_hbp}}</td>
          <td class="text-center">{{cbs.rawBattingStats.sacflys}}</td>
          <td class="text-center">{{cbs.calculatedBattingStats.battingAverageOnBallsInPlay.toFixed(3)}}</td>
          <td class="text-center">{{cbs.calculatedBattingStats.isolatedPower.toFixed(3)}}</td>
          <td class="text-center">{{cbs.calculatedBattingStats.atBatsPerHomeRun.toFixed(2)}}</td>
          <td class="text-center">{{cbs.calculatedBattingStats.walksToStrikeouts.toFixed(3)}}</td>
          <td class="text-center">{{cbs.calculatedBattingStats.walkPercentage.toFixed(3)}}</td>
          <td class="text-center">{{cbs.calculatedBattingStats.strikeoutPercentage.toFixed(3)}}</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="d-flex justify-content-between p-2">
          <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshStatPage()" size="sm"
                          [maxSize]="5" [rotate]="true" [ellipses]="true" [boundaryLinks]="true">
          </ngb-pagination>

          <div class="btn-group" role="group">
            <button type="button" class="btn btn-outline-info" (click)="setExtendedStatsToggle(false)" >Standard</button>
            <button type="button" class="btn btn-outline-info" (click)="setExtendedStatsToggle(true)">Extended</button>
          </div>

          <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshStatPage()">
            <option *ngFor="let pageSize of pageSizeOptions" [ngValue]="pageSize">{{pageSize}} entries</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
