:host ::ng-deep .mat-sort-header-container {
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  text-align: center !important;
}

table.basic tr td:nth-child(1) {
  border-right: 1px solid black;
}

table.basic tr td:nth-child(7) {
  border-right: 1px solid black;
}

table.basic tr td:nth-child(10) {
  border-right: 1px solid black;
}

table.extended tr td:nth-child(1) {
  border-right: 1px solid black;
}

table.extended tr td:nth-child(3) {
  border-right: 1px solid black;
}

table.extended tr td:nth-child(9) {
  border-right: 1px solid black;
}

table.extended tr td:nth-child(16) {
  border-right: 1px solid black;
}
